<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/cart.css">

    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
        <ul class="cart__item-list">
                    <% products.forEach(p => { %>
                        <li class="cart__item">
                            <h1><%= p.productId.title %></h1>
                            <h2>Quantity: <%= p.quantity %></h2>
                        </li>
                    <% }) %>
                </ul>
                <div class="centered">
                <h2>Total Price: <%=totalSum%> $</h2>
                </div>
                <div class="centered">
                    <button class="btn"id="order-btn"type="button">ORDER</button>
                    <script src="https://js.stripe.com/v3/"></script>
                    <script>
                        var stripe = Stripe('pk_test_51HcvWCKjKAStuwQ06B9myDft7Ei7NIxT9k25bOfP2LU5aLxSb9lm4SRZx1r4mKC7G9uTBLCzfRS3c7572aN4cS9f00rjxUeEpl');
                        var orderBtn = document.getElementById('order-btn');

                        orderBtn.addEventListener('click', function() {
                            stripe.redirectToCheckout({
                                sessionId: '<%=sessionId%>'
                            }).then(function (result) {
                            });
                        });
                    </script>
                </div>
        </main>
        <%- include('../includes/end.ejs') %>